*-docs
*.DS_Store
*.bom
*.hi
*.json
*.ly
*.mid
*.o
*.pdf
*.plg
*.png
*.sib
*.wiki
*.xml
*sandbox.config
.DS_Store
.DS_Store.ackoptions
.ackoptions
.cabal-sandbox
.hackette
.shelly
.shely
.stack-work
ISSUES
_build
build
cabal.sandbox.config
cafe2/
dist
haddock2
newtyp/
sketches/docs
src/private
test*
test.pdf
wiki
