*-docs
*.DS_Store
*.bom
*.hi
*.json
*.ly
*.ly
*.ly
*.ly
*.mid
*.mid
*.o
*.pdf
*.pdf
*.pdf
*.pdf
*.plg
*.png
*.sib
*.xml
*.xml
*sandbox.config
*sandbox.config
.DS_Store
.DS_Store
.DS_Store
.DS_Store.ackoptions
.ackoptions
.ackoptions
.cabal-sandbox
.hackette
.hackette
.shelly
.shelly
.shely
.stack-work
ISSUES
cabal.sandbox.config
cabal.sandbox.config
cafe2/
dist
dist
haddock2
newtyp/
sketches/docs
test*
wiki
